{
  "presets": [
    ["@babel/preset-env", {
      "bugfixes": true,
      "useBuiltIns": "entry",
      "corejs": 3,
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "corejs": 3,
    }],
    "add-module-exports"
  ]
}
